body {
  padding: 10px;
}

.listing {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 3px;
  height: 300px;
  padding: 20px;
}

.listing-img {
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.single-listing-img {
  max-height: 300px;
}

@media (max-width: 768px) {
  .listing {
    height: 100%;
  }

  .listing-img {
    max-height: 250px;
  }
}
