{% extends "auctions/layout.html" %} 
{% block body %}
<div class="row mb-3">
  <div class="text-center">
    <h2>Active Listing</h2>
  </div>
</div>

{% for listing in listings %} 
    <div class="container-fluid">
        <div class="row listing">
            {% if listing.url %}
            <img src="{{ listing.url }}" alt="Picture of a listing item" class="img-fluid listing-img col-md-3" />
            {% else %}
            <img src="https://img.icons8.com/?size=100&id=1G2BW7-tQJJJ&format=png&color=000000" alt="No picture provided" class="img-fluid listing-img col-md-3" />
            {% endif %} 
            <div class="col-md">
                <a href="{% url 'listing' listing.pk %}">{{ listing.title }}</a>
                <p>{{ listing.description }}</p>
                <p>Price: ${{ listing.bid }}</p>
            </div>
        </div>
    </div>
{% endfor %} {% endblock body %}
