{% extends "auctions/layout.html" %} 
{% block body %}
<div class="row mb-3">
  <div class="text-center">
    <h2 class="listing-header">{{ heading }}</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    {% for listing in listings %}
    <div class="col-md-4 mb-3 mb-md-1">
        <div class="card card-bg">
          {% if listing.url %}
            <img src="{{ listing.url }}" alt="Picture of a listing item" class="card-img-top listing-img" />
          {% else %}
            <img src="https://img.icons8.com/?size=100&id=1G2BW7-tQJJJ&format=png&color=000000" alt="card-img-top No picture provided" class="listing-img" />
          {% endif %}
            <div class="container p-3">
              <a class="card-title" href="{% url 'listing' listing.pk %}">{{ listing.title }}</a>
              <p class="card-text">{{ listing.description }}</p>
              {% if listing.winner %}
              <p>Listing is closed</p>
              {% comment %} <p class="card-text">Sold For: ${{ listing.current_bid }}</p> {% endcomment %}
              {% else %}
              <p class="card-text">Current Bid Price: ${{ listing.current_bid }}</p>
              {% endif %}
            </div>
        </div>
    </div>
    {% endfor %} {% endblock body %}
  </div>
</div>