<!-- prettier-ignore -->
{% extends "auctions/layout.html" %} {% block body %}
{% if messages %} 
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="alert alert-danger" role="alert">{{ message }}</div>
{% else %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endif %} {% endfor %} {% endif %}
<div class="row mb-3">
  <div class="text-center">
    <h2>Listing</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    {% if listing.url %}
    <div class="col-sm-4">
      <img
        src="{{ listing.url }}"
        alt="Picture of listing"
        class="img-fluid single-listing-img"
      />
    </div>
    {% endif %}
    <div class="col">
      <h3>Bid: ${{ listing.current_bid }}</h3>
      <p>{{ listing.description }}</p>
      <p>Posted By: {{ listing.owner }}</p>
      {% if listing.is_owner == False %}
      <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        <label for="new-bid" class="form-label">Bid Price:</label>
        <div class="col-2">
          <input
            type="number"
            id="new-bid"
            name="new-bid"
            class="form-control mb-3"
            min="0"
            required
          />
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Place Bid</button>
        </div>
      </form>
      <form action="{% url 'watch_list' listing.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary mt-3">
          <!-- prettier-ignore -->
          {% if listing.watched %} Remove From Watchlist {% else %} Add to Watchlist 
          {% endif %}
        </button>
      </form>
      <!-- prettier-ignore -->
      {% if listing.winning_user %}
      <p>You are leading the bid</p>
      {% endif %} {% else %}
      <form action="{% url 'close' listing.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mt-3">Close Listing</button>
      </form>
      {% endif %}
      <div class="bidding-history mt-3">
        <h3>Bidding History</h3>
        <ul>
          {% for bid in bidding_history %}
          <li>
            <!-- prettier-ignore -->
            {{ bid.bidder.username }} bid ${{ bid.amount }} on {{ bid.bid_date }}
          </li>
          {% empty %}
          <li>No bids yet</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endblock body %}
  </div>
</div>
