<!-- prettier-ignore -->
{% extends "auctions/layout.html" %} {% block body %}
{% if messages %} 
  {% for message in messages %}
<div class="alert alert-danger" role="alert">{{ message }}</div>
{% endfor %} {% endif %}
<div class="row mb-3">
  <div class="text-center">
    <h2>Listing</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    {% if listing.url %}
    <div class="col-sm-4">
      <img
        src="{{ listing.url }}"
        alt="Picture of listing"
        class="img-fluid single-listing-img"
      />
    </div>
    {% endif %}
    <div class="col">
      <h2>${{ listing.bid }}</h2>
      <p>{{ listing.description }}</p>
      <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        <label for="new-bid" class="form-label">Bid:</label>
        <div class="col-2">
          <input
            type="number"
            id="new-bid"
            name="new-bid"
            class="form-control mb-3"
            min="0"
            required
          />
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Place Bid</button>
        </div>
      </form>
      <form action="{% url 'watch_list' listing.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary mt-3">
          <!-- prettier-ignore -->
          {% if watched %} Remove From Watchlist {% else %} Add to Watchlist 
          {% endif %}
        </button>
      </form>
    </div>
    {% endblock body %}
  </div>
</div>
